.container {
  display: inline-block;
  width: 300px;
  height: 99vh;
  /* box-shadow: 10px 0px 10px -10px rgb(0, 0, 0, 0.5); */
  overflow: auto;
}

.menuSection {
  padding: 20px;
  font-size: 0.75em;
}

.menuSectionHeader {
  text-align: center;
  font-weight: bold;
}

.position {
  display: inline-block;
  margin-right: 25px;
}

.numberInput {
  width: 50px;
  margin-right: 5px;
}

.QB {
  background-color: rgb(255, 0, 0, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}

.RB {
  background-color: rgb(0, 255, 0, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}

.WR {
  background-color: rgb(0, 0, 255, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}

.TE {
  background-color: rgb(255, 255, 0, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}

.DST {
  background-color: rgb(255, 0, 255, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}

.K {
  background-color: rgb(0, 255, 255, 0.4);
  padding-left: 5px;
  padding-right: 5px;
}
